# === Django ===

# Use OpenSSL or just run python3 -c 'import secrets;print(secrets.token_urlsafe(32))'
DJANGO_SECRET_KEY="your-super-secret-secret-key"

# === Database ===
BOT_TOKEN="your-bot-token"
REQUEST_URL="endpoint_for_user_registration"
